[user]
	name = Mark Jones
{% if ansible_facts['fqdn'].endswith('jlab.org') %}
	email = maj@jlab.org
{% else %}
	email = markjonestx@live.com
{% endif %}
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[github]
	user = markjonestx
[init]
	defaultBranch = main
[alias]
	lg = log --color --graph --pretty=format:'%Cred%G? %Cgreen%h:%Cblue %ar by %an <%ae> %Creset%n%B'
	amend = commit --amend --reset-author
	ss = status -s
	a = add
	aa = add -A
	c = commit
	co = checkout
	cob = checkout -b
	pl = pull --rebase
	ps = push
	m = merge --no-ff
	wkls = worktree list
	wkadd = worktree add
	wkrm = worktree remove
	wkclean = worktree prune
